@import "NullStyle.scss";

.Header {
}
.container {
    display:flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}
.column-left {
}
.column-right {
    padding: 7px; // так правильно текст опустить, а то он был прижат к верху?
    width: 616px;
}
.column__icons {
    width: 31px;
}
.menu {
    
}
.menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 15px;
    color: black;
    text-align: center;
    
}
.menu__link {
}